<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="FileInfoExtractor.Properties.ToolTips" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="FileInfoExtractor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="FileInfoExtractor.Properties.LastInfo" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <FileInfoExtractor.Properties.ToolTips>
            <setting name="tbPathHead" serializeAs="String">
                <value>국방규격 전산파일명 표기 원칙. SW–[도면번호]-EXE-R[개정차수]</value>
            </setting>
            <setting name="labelPathHead" serializeAs="String">
                <value>국방규격 전산파일명 표기 원칙. SW–[도면번호]-EXE-R[개정차수]</value>
            </setting>
            <setting name="cbUseUpper" serializeAs="String">
                <value>파일경로를 모두 대문자로 강제 변경</value>
            </setting>
        </FileInfoExtractor.Properties.ToolTips>
        <FileInfoExtractor.Properties.Settings>
            <setting name="FileDialogFilter" serializeAs="String">
                <value>Text files (*.txt)|*.txt|All files (*.*)|*.*</value>
            </setting>
            <setting name="DefaultVersion" serializeAs="String">
                <value>1.0</value>
            </setting>
        </FileInfoExtractor.Properties.Settings>
        <FileInfoExtractor.Properties.LastInfo>
            <setting name="strSrcPath" serializeAs="String">
                <value />
            </setting>
            <setting name="strDstPath" serializeAs="String">
                <value />
            </setting>
            <setting name="strDstFile" serializeAs="String">
                <value />
            </setting>
            <setting name="bSrcTypeExe" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="strExeNumberBase" serializeAs="String">
                <value>E</value>
            </setting>
            <setting name="strLibNumberBase" serializeAs="String">
                <value>L</value>
            </setting>
            <setting name="bRstTypeHwp" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="strVersion" serializeAs="String">
                <value />
            </setting>
            <setting name="bResultAutoRun" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="strTrimPath" serializeAs="String">
                <value />
            </setting>
            <setting name="strHeadPath" serializeAs="String">
                <value />
            </setting>
            <setting name="strEtcNumberBase" serializeAs="String">
                <value>C</value>
            </setting>
        </FileInfoExtractor.Properties.LastInfo>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup></configuration>
